<p id="notice"><%= notice %></p>

<%= render(PageComponent.new(body_width: "md:w-2/3")) do |component| %>
  <%= component.with(:title) {"Badges"} %>
  <%= component.with(:subtitle) {"Subtitle"} %>
  <% component.with(:body) do %>
    <div class="flex flex-row">
      <%= render(BadgeComponent.with_collection(@badges)) %>
    </div>
    <%= link_to 'New Badge', new_badge_path %>
  <% end %>
<% end %>
