<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @badge.title %>
</p>

<p>
  <strong>Asset url:</strong>
  <%= @badge.asset_url %>
</p>

<p>
  <strong>Source url:</strong>
  <%= @badge.source_url %>
</p>

<p>
  <strong>Belongs to:</strong>
  <%= @badge.belongs_to %>
</p>

<%= link_to 'Edit', edit_badge_path(@badge) %> |
<%= link_to 'Back', badges_path %>
